<h5 class="text-info"><i class="far fa-comment"></i> {{ comment.user.fullName }}</h5>
<p class="text-muted">{{ comment.state|capitalize }} {{ comment.publishedAt|date('d/m/Y') }}</p>
<p>{{ comment.text }}</p>