<div class="container">
    <h2>Comments</h2>
    <ul class="list-group">
        {% for comment in comments %}
            <li class="list-group-item clearfix">
                {{ include('post/comment/item.html.twig', {comment: comment}) }}
            </li>
        {% endfor %}
    </ul>
</div>