<div class="container">
    <h2>Comments</h2>
    {% if comments|length > 0 %}
        <ul class="list-group">
            {% for comment in comments %}
                <li class="list-group-item clearfix">
                    {{ include('post/comment/item.html.twig', {comment: comment}) }}
                </li>
            {% endfor %}
        </ul>

        <div class="container">
            {{ include('pagination.html.twig', {pagination: comments}) }}
        </div>

    {% else %}
        <p>No comments yet</p>
    {% endif %}
</div>