<div class="paginator-block">
    <div class="paginator-switch">
        {{ knp_pagination_render(pagination) }}
    </div>
    <div class="paginator-total">
        Total: {{ pagination.getTotalItemCount }}
    </div>
    <div class="clear-both"></div>
</div>
