{% extends 'base.html.twig' %}

{% block title %}Symfony Blog{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <h2>Posts</h2>
                <div class="container">
                    <ul class="list-group">
                        {% for post in posts %}
                            <li class="list-group-item clearfix">
                                {{ include('post/item.html.twig', {post: post}) }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
{% endblock %}