{% extends 'base.html.twig' %}

{% block title %}Symfony Blog{% endblock %}

{% block to_all_posts %}
    <h2 class="all-posts-link"><a href="{{ path('post_all') }}">All posts</a></h2>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Newest posts</h2>
                <div class="container">
                    <ul class="list-group">
                        {% for post in newest_posts %}
                            <li class="list-group-item clearfix">
                                {{ include('post/item.html.twig', {post: post}) }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <h2>Popular posts</h2>
                <div class="container">
                    <ul class="list-group">
                        {% for post in popular_posts %}
                            <li class="list-group-item clearfix">
                                {{ include('post/item.html.twig', {post: post}) }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
